name: Deploy Astro site to Hostinger

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Build Astro Project
        run: npm run build

      - name: Clean target folder on Hostinger
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOSTINGER_HOST }}
          username: ${{ secrets.HOSTINGER_USER }}
          port: ${{ secrets.HOSTINGER_PORT }}
          key: ${{ secrets.HOSTINGER_SSH_KEY }}
          script: |
            rm -rf /home/${{ secrets.HOSTINGER_USER }}/domains/nexifyhub.no/public_html/*
            mkdir -p /home/${{ secrets.HOSTINGER_USER }}/domains/nexifyhub.no/public_html

      - name: Upload dist folder to Hostinger
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOSTINGER_HOST }}
          username: ${{ secrets.HOSTINGER_USER }}
          port: ${{ secrets.HOSTINGER_PORT }}
          key: ${{ secrets.HOSTINGER_SSH_KEY }}
          source: "dist/*"
          target: "/home/${{ secrets.HOSTINGER_USER }}/domains/nexifyhub.no/public_html"
